{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Log In{% endblock %}
<head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

{% block content %}
<div class="login-box">
    <div class="login-box-content">
        <h2>Log In</h2>
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success login-btn" type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock content %}