/* 
- Green: #5cb85c (Background, more…)
- White: f7f7f7 (Nav bar, Boxes)
- Text Color: #292b2c
*/

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #292b2c;
}

html,
body {
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: #a3a3a3;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.home-content {
    padding-top: 70px;
}

/* Cards */
.card {
box-shadow: 1px 2px 0 rgba(9, 30, 66, 0.438) }




/* ------ NAVBAR ------ */

/* ------ CONTAINER ------ */

.container {
    margin-top: 70px;
}


/* ------ Budget List View ------ */

.card h1{
    font-size: 300%;
    font-weight: 300;
}



/* Budget Detail Screen */

.budget-detail-page {
    background-color: #a3a3a3;
    position: center;
    margin-top: 70px;

    height: 100%;
    width: 100%;
}


.button-row {
    margin-top: 15px;
    margin-bottom: 15px;
}


.expense-list {
    box-shadow: 2px 4px 0 rgba(9, 30, 66, 0.5);
}

.expense-row {
    background-color: #f7f7f7;
    font-size: 130%;
    text-align: center;
    position: relative;
}


.expense-list .expense-row:nth-child(even) {
    background-color: #e6e6e6;
}

.remove-expense {
    color: red;
    text-align: right;
}

/* Budget create view */

form ul li.category {
    display: inline-block;
    background-color: #a3a3a3;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 15px;
}






