{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ object.name }}{% endblock title %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="budget-detail-title mh-100">
        <div class="row h-100">

            <div class="col-md-4 card-group h-100">
                <div class="card text-center">
                    <div class="card-body p-0 h-100">
                        <div class="card-title px-2 pt-3"><h2>{{ object.name }}</h2></div>
                        <hr/>
                        <div class="card-text bold py-2">
                            <div class="card-subtitle lead p-auto">Spending</div>
                            <h1><strong>${{ object.budget_spent }} of ${{ object.budget_amount }}</strong></h1>
                        </div>
                        <div class="card-footer mt-2">
                            Created: {{ object.created_at }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 spendings-bar-chart card-group">
                <div class="card card-group bar-chart-content">
                    <div id="container" style="width: 100%;">
                        <canvas id="spending-chart"></canvas>
                        <script>
                            let ctx = document.getElementById('spending-chart');
                            $.ajax({
                                url: 'spending-chart/',
                                success: function(response){
                                new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                    labels: response.labels,
                                    datasets: [{
                                        label: "Spending by Category",
                                        data: response.data,
                                        backgroundColor: 'rgba(92, 184, 92, 0.5)',
                                        borderColor: 'rgb(92, 184, 92)',
                                        borderWidth: 2,
                                    }]
                                    }
                                });
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-row px-2">
    
        <div class="row">
            <div class="col-md px-2">
            
            </div>
            <div class="col-md px-2 bg-transparent shadow-none border-none text-center">
                <div class="expense-button text-center">
                    <button type="button" class="btn btn-success shadow px-5 btn-lg btn-block" data-toggle="modal" data-target="#expenseModal">
                        Add Expense
                    </button>

                </div>
            </div>
            <div class="col-md px-2 text-center">
                <a role="button" href="{% url 'budget_edit' budget.slug %}" class="btn btn-secondary shadow btn-lg px-5 btn-block">Edit Budget</a>
            </div>
        </div>
    
    
    </div>

    <div class="expense-list pt-0 px-2">

        <div class="row expense-row px-2 py-2 align-items-center">
            <div class="col-sm px-2 expense-content">
                <span class="align-middle"></span>Name</span>
            </div>
            <div class="col-sm px-2 expense-content">
                Category
            </div>
            <div class="col-sm px-2 expense-content">
                Cost
            </div>
        <div class="col-md-2 px-2 remove-expense">
        </div>
        </div>
    
        {% for expense in object.expenses.all %}
        <div class="row expense-row px-2 py-2 align-items-center lead">
                <div class="col-sm px-2 expense-content">
                    <span class="align-middle"></span>{{ expense.name }}</span>
                </div>
                <div class="col-sm px-2 expense-content">
                    {{ expense.category }}
                </div>
                <div class="col-sm px-2 expense-content">
                    ${{ expense.cost }}
                </div>
            <div class="col-md-2 px-2 remove-expense">
                <a onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                <button type = "button" class="btn btn-danger">
                    <ion-icon name="trash-outline" size="large"></ion-icon>
                </button>
                </a>
            </div>
        </div>
        {% endfor %}

        
    
    
    </div>

    <div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Expense</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <!-- <label for="name">Name</label>
                        <input name="name" id="name"><br>
        
                        <label for="cost">Cost</label>
                        <input name="cost" id="cost"><br>
        
                        <label for="category">Category</label>
                        <select name="category" id="category">
                            {% for category in object.categories.all %}
                                <option>{{ category.name }}</option>
                            {% endfor %}
                        </select> -->
        
                    
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-success" type="submit">Add Expense</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script>

        function deleteExpense(e) {

            let id = e.dataset.id
            e.closest('.row').remove()

            fetch('',{
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin',
            })
            location.reload()
        }

    </script>
<!-- 
    <script>

        <!-- $(function () {

        var $spendingChart = $("#spending-chart");
        $.ajax({
            url: $spendingChart.data("url"),
            success: function (data) {

            var ctx = $spendingChart[0].getContext("2d");

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                datasets: [{
                    label: 'Spending',
                    backgroundColor: 'blue',
                    data: data.data
                    }]          
                },
                options: {
                    responsive: true,
                    legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Spending By Category Bar Chart'
                }
                }
                });

            }
            });

        });

    </script> -->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<!-- <script src="{% static 'js/spendingchart.js' %}"></script> -->


{% endblock content %}
